.app {
    text-align: center;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  